*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(108, 107, 107);
}
.container{
  position: relative;
  max-width: 300px;
  width: 100%;
  background: wheat;
  border-radius: 12px;
  padding: 10px 20px 20px;
}
.display{
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 25px;
  outline: none;
  border: none;
  text-align: right;
  color: black;
  pointer-events: none;
}
.buttons{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button{
  padding: 10px;
  border-radius: 6px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: white;

}
.buttons button:active{
  transform: scale(0.99);
}

.operator{
  color: rgb(13, 58, 148);
}